body{
    background-image:url(img/bg6.jpg);
}

.header{
    color: black;
    font-size: medium;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: dimgray;
    border: black solid;
    width: -webkit-fill-available;
    height: 80px;
}
.menu{
    word-spacing: 7px;
    font-size: 20px;
    text-align: right;
    margin-right: 100px;
    margin-top: -44px;
    font-family: revert;
    transition: 0.3s;
    transition-property: all;
}
#homeMenu:hover{
    background-color: black;
}
#outputMenu:hover{
    background-color: oldlace;
}
#aboutMeMenu:hover{
    background-color: oldlace;;
}

#homeMenu{
    color: oldlace;
}
#outputMenu{
    color: black;
}
#aboutMeMenu{
    color: black;
    word-spacing: 2px;
}
.mediaButtons{
    word-spacing: 12px;
    font-size: 28px;
    text-align: left;
    margin-left: 100px;
    margin-top: -26px;
}
#facebook{
    color: black;
}
#instagram{
    color: black;
}
#twitter{
    color: black;
}
#gmail{
    color: black;
}

.outputs{
    background-color: honeydew;
    color: black;
    font-size: medium;
    margin-top: 142px;
    left: 0px;
    border: black solid;
    height: 1400px;
    width: -webkit-fill-available;
    display: inline-block;
}
.outputs .col1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
    height: 450px;
    margin-left: 100px;
    margin-top: 50px;
}

.outputs .col2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
    height: 450px;
    margin-left: 100px;
    margin-top: 50px;
}
#img1{
    margin-right: 100px;
    height: 450px;
    margin-left: 50px;
    margin-top: 50px;
}
#img2{
    margin-right: 50px;
    height: 450px;
    margin-left: 100px;
    margin-top: 50px;   
}
#img3{
    margin-right: 100px;
    height: 450px;
    margin-left: 50px;
    margin-top: 43px;
}
#img4{
    margin-right: 50px;
    height: 450px;
    margin-left: 100px;
    margin-top: 43px;  
}

#link1{
    line-height: 6.5;
    font-family: monospace;
    margin-left: 157px;
    margin-right: 115px;
    font-size: 23px;
    color: chocolate;
    font-weight: bolder
}

#link2{
    line-height: 6.5;
    font-family: monospace;
    font-size: 23px;
    margin-left: 267px;
    color: chocolate;
    font-weight: bolder
}
#link3{
    line-height: 6.5;
    font-family: monospace;
    margin-left: 85px;
    font-size: 23px;
    margin-right: 196px;
    color: chocolate;
    font-weight: bolder
}
#link4{
    line-height: 6.5;
    font-family: monospace;
    margin-left: 159px;
    font-size: 23px;
    color: chocolate;
    font-weight: bolder
}
h2{
    text-align: center;
    font-style: italic;
    margin-top: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: xx-large;
    background-color: lightgray;
}
.banner {
    color: black;
    font-size: medium;
    margin-top: 120px;
    left: 0px;
    background-color: floralwhite;
    border: black solid;
    height: 290px;
    width: -webkit-fill-available;
}

h3{
    color: gray;
    text-align: center;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 300;
    font-size: 78px;
    letter-spacing: 5px;
    padding-left: 403px;
    margin-top: 45px;
}
#logoPic{
    margin-block-end: -361px;
    width: 320px;
    border-color: blueviolet;
    margin-top: 50px;
    margin-left: 100px;
}

h1{
    text-align: center;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.aboutMe{
    background-color: honeydew;
    color: black;
    font-size: medium;
    margin-top: 142px;
    left: 0px;
    border: black solid;
    height: 450px;
    width: -webkit-fill-available;
    display: inline-block;
}
.message{
    font-size: 25px;
    font-weight: initial;
    color: black;
    text-align: center;
    font-family: fangsong;
    margin: 50px;
}