body{
    background-image:url(img/bg6.jpg);
}

.header{
    color: black;
    font-size: medium;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: dimgray;
    border: black solid;
    width: -webkit-fill-available;
    height: 80px;
}
.menu{
    word-spacing: 7px;
    font-size: 18px;
    text-align: right;
    margin-right: 100px;
    margin-top: -44px;
    font-family: revert;
    transition: 0.3s;
    transition-property: all;
}
#homeMenu:hover{
    background-color: black;
}
#outputMenu:hover{
    background-color: oldlace;
}
#aboutMeMenu:hover{
    background-color: oldlace;
}
#offersMenu:hover{
    background-color: oldlace;
}
#homeMenu{
    color: oldlace;
    text-decoration: none;
}
#outputMenu{
    color: black;
    text-decoration: none;
}
#offersMenu{
    color: black;
    text-decoration: none;
}
#aboutMeMenu{
    color: black;
    word-spacing: 1px;
    text-decoration: none;
}
.mediaButtons{
    word-spacing: 12px;
    font-size: 28px;
    text-align: left;
    margin-left: 100px;
    margin-top: -26px;
}
#facebook{
    color: black;
}
#instagram{
    color: black;
}
#twitter{
    color: black;
}

.outputs{
    background-color: honeydew;
    color: black;
    font-size: medium;
    margin-top: 142px;
    left: 0px;
    border: black solid;
    height: 1425px;
    width: -webkit-fill-available;
    display: inline-block;
}
.outputs .col1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
    height: 450px;
    margin-left: 100px;
    margin-top: 50px;
}

.outputs .col2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
    height: 450px;
    margin-left: 100px;
    margin-top: -54px;
}
.outputs .col3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
    height: 450px;
    margin-left: 100px;
    margin-top: -54px;
}
#img1{
    margin-right: 100px;
    height: 315px;
    margin-left: 50px;
    margin-top: 43px;
}
#img2{
    margin-right: 100px;
    height: 315px;
    margin-left: 50px;
    margin-top: 43px;
}
#img3{
    margin-right: 100px;
    height: 315px;
    margin-left: 50px;
    margin-top: 43px;
}
#img4{
    margin-right: 100px;
    height: 315px;
    margin-left: 50px;
    margin-top: 43px;
}
#img5{
    margin-right: 100px;
    height: 315px;
    margin-left: 50px;
    margin-top: 43px; 
}

.links{
    margin-top: -130px;
}
#link1{
    line-height: 6.5;
    font-family: monospace;
    margin-left: 187px;
    margin-right: 16px;
    font-size: 23px;
    color: #eb906e;
    font-weight: bolder;
    text-decoration: none;
}
#link1:hover{
    background-color: black;
    
}
#link2{
    line-height: 6.5;
    font-family: monospace;
    font-size: 23px;
    margin-left: 267px;
    color: #eb906e;
    font-weight: bolder;
    text-decoration: none;
}
#link2:hover{
    background-color: black;
}

#link3{
    line-height: 6.5;
    font-family: monospace;
    margin-left: 120px;
    font-size: 23px;
    margin-right: 90px;
    color: #eb906e;
    text-decoration: none;
    font-weight: bolder;
    
}
#link3:hover{
    background-color: black;
    
}
#link4{
    line-height: 6.5;
    font-family: monospace;
    margin-left: 159px;
    font-size: 23px;
    color: #eb906e;
    font-weight: bolder;
    text-decoration: none;
    

}
#link4:hover{
    background-color: black;
}
#link5{
    line-height: 6.5;
    font-family: monospace;
    margin-left: 200px;
    font-size: 23px;
    margin-right: 196px;
    color: #eb906e;
    text-decoration: none;
    font-weight: bolder;
}
#link5:hover{
    background-color: black;
}
h2{
    text-align: center;
    font-style: italic;
    margin-top: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: xx-large;
    background-color: lightgray;
}
.banner {
    color: black;
    font-size: medium;
    margin-top: 120px;
    left: 0px;
    background-color: floralwhite;
    border: black solid;
    height: 290px;
    width: -webkit-fill-available;
}

h3{
    color: gray;
    text-align: center;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 300;
    font-size: 78px;
    letter-spacing: 5px;
    padding-left: 403px;
    margin-top: 45px;
}
#logoPic{
    margin-block-end: -361px;
    width: 320px;
    border-color: blueviolet;
    margin-top: 50px;
    margin-left: 100px;
}

h1{
    text-align: center;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
.offers{
    background-color: honeydew;
    color: black;
    font-size: medium;
    margin-top: 142px;
    left: 0px;
    border: black solid;
    height: 551px;
    width: -webkit-fill-available;
    display: inline-block;

}
/*FOR ABOUT ME*/
.aboutMe{
    background-color: honeydew;
    color: black;
    font-size: medium;
    margin-top: 142px;
    left: 0px;
    border: black solid;
    height: 520px;
    width: -webkit-fill-available;
    display: inline-block;
}
.message{
    font-size: 25px;
    font-weight: initial;
    color: black;
    text-align: center;
    font-family: fangsong;
    margin: 50px;
}

#blog{
    line-height: 0.5;
    font-family: monospace;
    margin-left: 500px;
    font-size: 23px;
    color: #eb906e;
    font-weight: bolder;
    text-decoration: none;
}
#blog:hover{
    background-color: black;
}

/*FOR FORM*/

table, th, td {
    border: rosybrown solid;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-image: url(img/imgForm1.jpg);
    opacity: 6.9;
    margin: 0px;
  }
h4{
    font-size: 25px;
    margin-bottom: 37px;
    margin-top: 8px;
    color: #eb906e;
    font-weight: 100px;
    font-family: cursive;
}
.button{
    margin-top: 30px;
    background-color: #8d8d8d;
    display: block;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    color: #3a3635;
}
.personalInformation{
    font-size: 15px;
    margin-top: -11px;
    position: static;
    margin-left: 17px;
}
.personalInformation label{
    display: table;
    font-family: monospace;
}
.personalInformation input{
    border: 2px solid;
    border-radius: 4px;
    display: block;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 20px;
}
.personalInformation select{
    border: 2px solid;
    border-radius: 4px;
    display: block;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 20px;
}
.personalInformation.success input{
    border-color: green;
}
.personalInformation.error input{
    border-color: red;
}
.personalInformation i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;    
}
.personalInformation.success i.fa-check-circle {
    color: seagreen;
    visibility: visible;
}
.personalInformation.error i.fa-exclamation-circle {
    color: red;
    visibility: visible;
}
.personalInformation small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
.personalInformation.error small{
    color: red;
    visibility: hidden;
}
td {
    padding: 10px;
}
.persuade{
    font-size: 25px;
    font-weight: initial;
    color: black;
    text-align: center;
    font-family: monospace;
    margin: 50px;
    border-block-end: inherit;
    background-color: burlywood;
    border-collapse: separate;
    border-radius: 5px;

}
.persuade span{
    font-size: 40px;
    font-weight: initial;
    color: black;
    text-align: center;
    font-family: cursive;
    color:black;
}

