.header{
    color: black;
    font-size: medium;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: dimgray;
    border: black solid;
    width: -webkit-fill-available;
    height: 80px;
}

.section{
    color: black;
    font-size: medium;
    position: fixed;
    top: 130px;
    left: 0px;
    background-color:floralwhite;
    border: black solid;
    width: -webkit-fill-available;
    height: 300px;
}
#logoPic{
    display: flex;
    justify-content: left;
    margin: 100px;
    width: 50px;
}
h1{
    text-align: center;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, 
    Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    serif
}




/* h1{
    color: black;
}
.centerelement{
    display: flex;
    justify-content: center;
} */